{% extends 'base.html' %}
    {% block content %}
    <section class="h-100 gradient-form" style="background-color: #eee;">
      <div class="container py-5 h-100">
        <div class="form-outline mb-4">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
              <div class="card rounded-3 text-black">
                <div class="row g-0"> 
                  <div class="card-body p-md-5 mx-md-4">
                    <form method="post" action="http://localhost:3000">
                      <p style="color: red">{{error}}</p>
                      <h5>From:</h5>
                      <select name="from" class="PickUpPoint col-12 mb-5" >
                      <option value="0">Select your Pick Up Point</option>
                      <option value="King Fahd International Airport">King Fahd International Airport</option>
                      <option value="Dammam Railway Station">Dammam Railway Station</option>
                      <option value="Ithraa">Ithraa</option>
                      <option value="KFUPM">KFUPM</option>
                      </select>
                      <h5>To:</h5>
                      <select name="to" class="destination col-12 mb-5">
                      <option value="0">Select your destination</option>
                      <option value="King Fahd International Airport">King Fahd International Airport</option>
                      <option value="Dammam Railway Station">Dammam Railway Station</option>
                      <option value="Ithraa">Ithraa</option>
                      <option value="KFUPM">KFUPM</option>
                      </select>
                      <input id="now" type="radio" name="time" value="now" checked>
                      <label for="now">Now</label>
                      <br>
                    
                      <input id="schedule" type="radio" name="time" value="time">
                      <label for="schedule">Schedule: </label>
                      <input type="date" name="dateInput" id="dateInput" disabled>
                      <input type="time" name="timeInput" id="timeInput" disabled>
                      <br>
                      <br>
                      <label>Shared with: </label>
                      <input type="number" value="0" name="sharedWith" min="0" max="5"></input>
                      <br>
                      <div class="text-center pt-1 mb-0 pb-1">
                        <button type="submit" class="btn btn-primary btn-block
                        fa-lg gradient-custom-2 mb-3">Request new ride</button>
                      </div>
                      <div class="text-center pt-1 mb-0 pb-1">
                      <a  href="/driver" class="btn btn-primary btn-block
                      fa-lg gradient-custom-2 mb-0">I am a driver</a>
                      </div>
                    </form> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}