{% extends 'base.html' %}
    {% block content %}
    <section class="h-100 gradient-form" style="background-color: #eee;">
      <div class="container py-5 h-100">
        <div class="form-outline mb-4">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
              <div class="card rounded-3 text-black">
                <div class="row g-0"> 
                  <div class="card-body col-lg-4 col-md-12 mb-4 mb-md-0">
                    <h5>Offers for This Ride</h5>

                    {%for offer in offers%}
                    <form class="container" method="post">
                          <div class="boxes">
                              a ride from <span>{{ride.departure}}</span> to <span>{{ride.destination}}</span>
                              <br>
                              time: <span>{{ride.time}}</span>
                              <br>
                              <br>
                              price offered: {{offer.price}}
                              
                              <br>
                              <br>
                              <button type="submit" class="btn btn-primary btn-block
                              fa-lg gradient-custom-2 mb-3">accept</button>
                          </div>
                        </form>
                      {%endfor%}
                    </div> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}